@model Ingredient
@{
    ViewBag.Title = "Create Ingredient";
}
<h3>Edit Ingredient</h3>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="IngredientId" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>